[template]
cargo_generate_version = ">=0.17.4"
ignore = [".git", "lib/embassy"]

[hooks]
pre = ["pre-script.rhai"]

[placeholders.mcu_target]
type = "string"
prompt = "Which MCU to target?"
# TODO: Auto-generate the extended list (i.e. from stm32-data)
choices = ["STM32G474RETx (16MHz HSE)", "STM32F405RGTx (8MHz HSE)", "STM32F415RGTx (8MHz HSE)"]
#default = "rp2040"

[placeholders.usb_support]
type = "bool"
prompt = "Include USB support?"
default = false

[conditional.'usb_support == false']
ignore = ["src/usb"]

[placeholders.enable_watchdog]
type = "bool"
prompt = "Enable watchdog?"
default = false

[conditional.'enable_watchdog == true'.placeholders.watchdog_duration]
type = "string"
prompt = "Watchdog timeout duration in milliseconds?"
default = "1000"

